<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Die LISTE - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <header>
            <div class="logo"></div>
            <nav>
                <ul>
                    <li><a href="/">Home</a>
                    <li><a href="/about.html">Über uns</a>
                    <li><a href="https://walomat.liste.fun">Wal-O-Mat</a>
                    <li><a href="/mitmachen.html">Mitmachen</a>
                    <li><a href="https://www.facebook.com/dielistetum/">Facebook</a>
                </ul>
            </nav>
        </header>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>
    </body>
</html>
