<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Die LISTE - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <header>
            <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
            <div class="logo"></div>
            <nav>
                <input id="openMenu" class="menu_checkbox" type="checkbox">
                <label class="menu_button" for="openMenu">Menü</label>
<div class="menu">
                <ul>
                    <li><a href="/">Home</a>
                    <li><a href="/about.html">Über uns</a>
                    <li><a href="/mitmachen.html">Mitmachen</a>
                    <li><a href="/wahlprogramm.html">Wahlprogramm</a>
                    <li><a href="https://www.facebook.com/dielistetum/">Facebook</a>
                </ul>
                </div>
            </nav>
        </header>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>

        <footer>
            <ul>
                <li><a href="/impressum.html">Impressum</a>
            </ul>
        </footer>
    </body>
</html>
