<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Die LISTE - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    </head>
    <body>
        <header>
            <div class="logo"></div>
            <nav>
                <input id="openMenu" class="menu_checkbox" type="checkbox">
                <label class="menu_button" for="openMenu">Menü</label>
<div class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about.html">Über uns</a></li>
                    <li><a href="/wahlprogramm.html">Wal-Programm</a></li>
                    <li><a href="https://walom.at/">Wal-O-Mat</a></li>
                    <li><a href="/mitmachen.html">Mitmachen</a></li>
                    <li><a href="https://www.facebook.com/dielistetum/">Facebook</a></li>
                </ul>
                </div>
            </nav>
        </header>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>

        <footer>
            <ul>
                <li><a href="/datenschutz.html">Datenschutz</a></li>
                <li><a href="/impressum.html">Impressum</a></li>
            </ul>
        </footer>
    </body>
</html>
